dec2fact
fact2dec
tests/*.trs
Makefile
autom4te.cache
config.h
config.log
config.status
libtool
stamp-*
*.stamp
.dirstamp
.deps
.libs
.objs
*.a
*.la
*.lo
*.o
*~
._*
.-*
.\#*
*.bak
*.log
*.orig
*.tar.gz
*.tar.bz2
*.tar.xz
pkg
tags
TAGS
config.cache
GTAGS
GRTAGS
GPATH
.gdb_history
